// Navs

.nav {
  // code here
}

.nav-tabs {
  background-color: $nav-tabs-bg;
  border-bottom: 1px solid $border-color;

  .nav-link {
    display: inline-flex;
    align-items: center;
    gap: .4rem;
    line-height: 1.2;
    color: $pma-body-color;
    text-decoration: none;

    &:hover {
      color: $pma-gray-200;
    }
  }

  .nav-link .icon,
  .nav-link img.icon {
    width: 1rem;
    height: 1rem;
    flex: 0 0 auto;
    color: inherit;
  }

  .nav-link.active .icon,
  .nav-link.active img.icon {
    color: $pma-blue;
  }

  .nav-link .ic_s_db { color: $pma-indigo; }
  .nav-link .ic_b_sql,
  .nav-link .ic_b_sqldoc { color: $pma-cyan; }
  .nav-link .ic_s_status,
  .nav-link .ic_b_chart { color: $pma-green; }
  .nav-link .ic_b_usrlist { color: $pma-teal; }
  .nav-link .ic_b_export,
  .nav-link .ic_b_tblexport { color: $pma-orange; }
  .nav-link .ic_b_import,
  .nav-link .ic_b_tblimport { color: $pma-blue; }
  .nav-link .ic_b_props { color: $pma-orange; }
  .nav-link .ic_b_copy { color: $pma-indigo; }
  .nav-link .ic_s_vars { color: $pma-teal; }
  .nav-link .ic_s_lang { color: $pma-pink; }
  .nav-link .ic_b_engine { color: $pma-green; }
  .nav-link .ic_b_plugin { color: $pma-cyan; }
}

.nav-pills {
  .nav-link {
    display: inline-flex;
    align-items: center;
    gap: .4rem;
    line-height: 1.2;
  }

  .nav-link .icon,
  .nav-link img.icon {
    width: 1rem;
    height: 1rem;
    flex: 0 0 auto;
    color: inherit;
  }

  .nav-link.active .icon,
  .nav-link.active img.icon {
    color: $pma-blue;
  }

  .nav-link.active {
    .icon {
      filter: brightness(0) invert(0);
    }
  }

  .nav-link .ic_s_db { color: $pma-indigo; }
  .nav-link .ic_b_sql,
  .nav-link .ic_b_sqldoc { color: $pma-cyan; }
  .nav-link .ic_s_status,
  .nav-link .ic_b_chart { color: $pma-green; }
  .nav-link .ic_b_usrlist { color: $pma-teal; }
  .nav-link .ic_b_export,
  .nav-link .ic_b_tblexport { color: $pma-orange; }
  .nav-link .ic_b_import,
  .nav-link .ic_b_tblimport { color: $pma-blue; }
  .nav-link .ic_b_props { color: $pma-orange; }
  .nav-link .ic_b_copy { color: $pma-indigo; }
  .nav-link .ic_s_vars { color: $pma-teal; }
  .nav-link .ic_s_lang { color: $pma-pink; }
  .nav-link .ic_b_engine { color: $pma-green; }
  .nav-link .ic_b_plugin { color: $pma-cyan; }
}
